<div class="brand-collection">
  <div class="row">
    {{#foreach items columns="4"}}
      <div class="item brand col-md-3 brand-{{key}}">
        <a href="{{lang:link url}}" class="product-image">
          <figure>
            {{#if photo.url}}
              <img src="{{theme:statics}}/img/loader.gif" data-src="{{photo.url}}" />
            {{else}}
              <img src="{{theme:statics}}/img/brands/thumbs/{{key}}.jpg" />
            {{/if}}
          </figure>

          <h3>{{title}}</h3>
        </a>

        {{#if extendedtitle.text}}
          <p class="prose">{{extendedtitle.text}}</p>
        {{else}}
          <p class="red">{{i18n:t "no extendedtitle.text found yet"}}</p>
        {{/if}}
      </div>

    {{/foreach}}
  </div>
</div>
