<div class="row distributors-a-z">
  {{#each items}}
    <div id="distributor-{{_id}}" class="col-md-2 distributor teaser">
      <a href="http://{{web}}" target="_blank">
        <figure>
          <div class="logo">
            {{#if logo1.[0].url}}
              <img src="{{logo1.[0].url}}" />
              <img src="{{img.srcHover}}" class="hover"/>
            {{else}}
              <img src="http://placehold.it/138" />
            {{/if}}
          </div>
          <figcaption><h4>{{name}}</h4></figcaption>
        </figure>
      </a>
    </div>
  {{/each}}
</div>
