{{#each items}}
  <article class="office teaser cf">
    <div class="vcard">
      <h3><a href="{{url}}">{{title}}</a></h3>
      <div class="row">
        <div class="col-md-6 address">
          <p>{{> location/simple location}}</p>
        </div>
        <div class="col-md-6 details">
          <p>
              {{#if phone}}
              <span class="label">{{i18n:t "Phone"}}:</span> <span class="tel">{{phone}}</span><br/>
              {{/if}}
              {{#if web}}
              <span class="label">{{i18n:t "Website"}}:</span> <a class="url" href="{{web}}">{{web}}</a><br/>
              {{/if}}
              {{#if email}}
              <span class="label">{{i18n:t "E-mail"}}:</span> <a class="email" href="mailto:{{email}}">{{email}}</a>
              {{/if}}
          </p>
        </div>
      </div>
      <div class="tools">
        <a href="https://maps.google.com?daddr={{location.geo.lat}},{{location.geo.lon}}" target="_blank" class="icon direction"><i></i>{{i18n:t "Get Directions"}}</a>
        <a href="/vcard/{{_id}}" class="icon downloadvcard"><i></i>{{i18n:t "Download v-card"}}</a>
      </div>

    </div>
  </article>
{{/each}}
