{{#if items}}
<div class="catalogues catalogues-archive cf">
  <div class="row">
    <div class="col-md-12">
      <h2>{{i18n:t "Download Archive"}}</h2>
    </div>
    {{#each items}}
      <div class="col-md-3">
        <article class="catalogue teaser">
          <a href="{{download.url}}" target="_blank">
            {{#if thumbnail.url}}
              <img src="{{thumbnail.url}}" />
            {{else}}
              <img src="{{theme:statics}}/img/default/catalogue.png" />
            {{/if}}
            <h4>{{title}}</h4>
            <p>{{i18n:t "Download"}} {{filesize download}}</p>
          </a>
        </article>
      </div>
    {{/each}}
  </div>
</div>
{{/if}}
