<div class="featured-events cf">
  <div class="row">
    {{#each items}}
      <div class="col-md-4">
        <article class="event teaser">
          <a href="{{url:item}}">
            <h3>{{{title}}}</h3>
            <p>{{{shortDescription}}}</p>

            <p class="date location">
              <span class="date">{{moment:date date.from "MMM, Do YYYY"}}</span>,
              <span class="location">{{location.city}}</span>
            </p>
            <p>{{{shortdescription}}}</p>
          </a>
        </article>
      </div>
    {{/each}}
  </div>
</div>